html {
    scroll-behavior: smooth;
}

.contentContainer {
    display: flex;
}

.activeChannelStyles {
    width: 100px;
    height: 100px;
    font-weight: bold;
    border: 3px solid darkorange;
    border-radius: 50px;
    background-color: white;

    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    place-items: center;
    word-break: break-all;
    word-wrap: break-word;

    transition: all 0.2s linear;
}
.channelButtonStyles {
    width: 100px;
    height: 100px;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;

    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    place-items: center;
    word-break: break-all;
    word-wrap: break-word;

    transition: all 0.2s linear;
}

.activeChannelStyles button,
.channelButtonStyles button {
    border-radius: 50px;
    border: none;
    background-color: red;
    color: #fff;
    font-weight: bold;
    display: none;
    cursor: pointer;
}
.activeChannelStyles:hover button,
.channelButtonStyles:hover button {
    display: block;
}

.hideChannelsButton {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 185px;
    padding: 0.4em 0;
    z-index: 3;
    background-color: #999;
    cursor: pointer;
    border-radius: 0.2em;
    box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.4);
    transition: left 0.5s ease-in-out, transform 0.4s ease-in-out;
    transform: rotate(180deg);
}
.hideChannelsButtonCollapsed {
    left: 0;
    transform: rotate(0deg);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
.channelsCollapsed {
    width: 0 !important;
    min-width: 0px !important;
}
.channelStyles {
    min-width: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: #777;
    border-right: 1px orange solid;
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 2;
    align-items: center;
    position: relative;

    transition: all 0.5s ease-in-out;
}
.channelsForm {
    border-bottom: 1px solid #555;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
}
.channelsInput {
    background-color: rgb(231, 231, 231);
    padding: 1em 1em;
    margin-bottom: 1em;
    width: 180px;
    border: none;
    border-radius: 5em;
    box-sizing: border-box;
    transition: all 0.2s linear;
}
.channelsInput:focus,
.channelsInput:active {
    background-color: #fff;
    border-radius: 5em;
    box-shadow: inset 0px 0px 10px rgb(83, 83, 83);
    outline: none;
}

.channelsList {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 1em 0;
}
.channelsList::-webkit-scrollbar {
    width: 5px;
    overflow: hidden;
    height: 50%;
}
.channelsList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.channelsList::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

.channelsProfile {
    border-top: 1px solid #555;
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: normal;
    word-break: keep-all;
    line-break: loose;
    white-space: nowrap;
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.pageStyles {
    align-items: center;
    background: black;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.chatStyles {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.headerStyles {
    background: #999;
    color: black;
    font-size: 1.4rem;
    padding: 10px 15px;
}

.listStyles {
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    scroll-behavior: smooth;
}

.messageStyles {
    background-color: #eee;
    border-radius: 5px;
    color: #333;
    font-size: 1.1rem;
    margin: 5px 5px 20px 5px;
    padding: 8px 15px;
    word-break: break-all;
    word-wrap: break-word;

    max-width: 200px;

    animation-name: FadeInFromLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.clientMessageWrapper {
    margin-left: auto;
}

.clientMessageStyles {
    background-color: orange;
    color: #000;
    margin-left: auto;
    animation-name: FadeInFromRight;
    animation-duration: 0.5;
    animation-timing-function: ease-in-out;
}

.message {
    position: relative;
}

.messageFormatedTime {
    position: absolute;

    bottom: -0.2em;
    left: 0;
    right: 0;
    align-self: center;

    width: max-content;

    color: #000;
    display: grid;
    place-items: center;
    border-radius: 1em;
    display: none;
}
.message:hover .messageFormatedTime {
    display: grid;
}

.footerStyles {
    display: flex;
}

.inputStyles {
    flex-grow: 1;
    font-size: 1.1rem;
    padding: 10px 15px;
}

.buttonStyles {
    font-size: 1.1rem;
    padding: 10px 15px;
}

/* emojies */

.emojiHolder {
    position: relative;
    font-size: 2em;
    background-color: #ffffff;
    border-width: 1px;
    border-style: inset;
    border-color: #000;
    cursor: pointer;
}
.emojiButton:hover,
.emojiButton:focus {
    background-color: orange;
}
.emojiButton:active {
    background-color: #333;
}

.emojiList {
    position: absolute;
    font-size: 0.5em;
    width: 10em;
    height: 10em;
    top: -10.1em;
    right: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    border: 1px solid #000;
    border-radius: 1em 0 0 1em;
    padding: 0.3em;
    background-color: rgb(250, 250, 250);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.emojiList::-webkit-scrollbar {
    width: 5px;
    overflow: hidden;
    height: 50%;
}
.emojiList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.emojiList::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

.emojiListHidden {
    display: none;
}

.emoji:hover {
    background-color: orange;
}
.emojiList[disabled],
.emojiButton[disabled],
.emojiHolder[disabled] {
    cursor: not-allowed;
    background-color: #666;
    filter: saturate(0);
}

.loader {
    animation: Loading infinite linear;
    transition: all 1s ease-in-out;
}

@keyframes Loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes FadeInFromRight {
    0% {
        transform: translateX(10em);
        opacity: 0;
    }
    100% {
        opacity: 100;
        right: 0;
    }
}

@keyframes FadeInFromLeft {
    0% {
        transform: translateX(-10em);
        opacity: 0;
    }
    100% {
        left: 100;
        right: 0;
    }
}
